.name {
    font-size: 220px;
    text-align: center;
    margin: -10px;
    color: rgb(211, 146, 26);
}

.name2 {
    font-size: 100px;
    text-align: center;
    color: tan;
}

.name3 {
    font-size: 38px;
    text-align: center;
    margin: -50px;
    color: green;
}

.name4 {
    font-size: 45px;
    text-align: center;
    padding: 65px;
    color: beige;
}

body {
    background-color: rgb(209, 40, 14);
}

.pics, .pics2, .pics3, .pics4, .pics5, .pics6 {
    height: 200px;
    width: 200px;
    border-radius: 8px;

}

/* .pics2 {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    /* margin: 0px 45px 0px 0px; */
}

.pics3 {
    height: 200px;
    width: 200px;
    border-radius: 8px;
}

.pics4 {
    height: 200px;
    width: 200px;
    border-radius: 8px;
}

.pics5 {
    height: 200px;
    width: 200px;
    border-radius: 8px;
}

.pics6 {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    padding: 0px 0px 0px 523px;
} */